html {
  background-color: black;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  line-height: 1.5em;
}

@media (min-width: 800px) {
  #contentContainer {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1280px) {
  #contentContainer {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}

#backgroundContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}

#backgroundImage1 {
  animation: crossfade 15s infinite;
}

#backgroundImage2 {
  animation: crossfade 15s infinite;
  animation-delay: 5s; /* Delay the animation start */
}

#backgroundImage3 {
  animation: crossfade 15s infinite;
  animation-delay: 10s; /* Delay the animation start */
}

.ww #backgroundImage1 {
  background-image: url('/static/images/234682_A serene willow tree surrounded by a misty meadow._xl-beta-v2-2-2.jpg');
}

.ww #backgroundImage2 {
  background-image: url('/static/images/463368_An ethereal scene of a moonlit forest with a gentl_xl-beta-v2-2-2.jpg');
}

.ww #backgroundImage3 {
  background-image: url('/static/images/36996_A poetic portrait of a whimsical willow tree grace_xl-beta-v2-2-2.jpg');
}

.ee #backgroundImage1 {
  background-image: url('/static/images/7508_An abstract representation of sound waves merging _xl-beta-v2-2-2.jpg');
}

.ee #backgroundImage2 {
  /* background-image: url('/static/images/600814_An abstract representation of sound waves merging _xl-beta-v2-2-2.jpg'); */
  /* background-image: url('/static/images/935726_An abstract representation of sound waves merging _xl-beta-v2-2-2.jpg'); */
  background-image: url('/static/images/311242_A mysterious silhouette with swirling patterns and_xl-beta-v2-2-2.jpg');
}

.ee #backgroundImage3 {
  /* background-image: url('/static/images/318384_A mysterious silhouette with swirling patterns and_xl-beta-v2-2-2.jpg'); */
  /* background-image: url('/static/images/254061_A mysterious silhouette with swirling patterns and_xl-beta-v2-2-2.jpg'); */
  background-image: url('/static/images/421561_An enigmatic scene of ripples on water with faint _xl-beta-v2-2-2.jpg');
}

.ss #backgroundImage1 {
  background-image: url('/static/images/434550_A celestial night sky with a radiant star shining _xl-beta-v2-2-2.jpg');
}

.ss #backgroundImage2 {
  background-image: url('/static/images/456322_A cosmic symphony of swirling galaxies and musical_xl-beta-v2-2-2.jpg');
}

.ss #backgroundImage3 {
  /* background-image: url('/static/images/837456_A majestic scene of a starlit stage where planets _xl-beta-v2-2-2.jpg'); */
  /* background-image: url('/static/images/180292_A majestic scene of a starlit stage where planets _xl-beta-v2-2-2.jpg'); */
  background-image: url('/static/images/326944_A majestic scene of a starlit stage where planets _xl-beta-v2-2-2.jpg');
}

.mm #backgroundImage1 {
  background-image: url('/static/images/180570_A mystical garden filled with enchanted flowers an_xl-beta-v2-2-2.jpg');
}

.mm #backgroundImage2 {
  background-image: url('/static/images/793107_A surreal landscape with floating islands and ethe_xl-beta-v2-2-2.jpg');
  /* background-image: url('/static/images/19477_A surreal landscape with floating islands and ethe_xl-beta-v2-2-2.jpg'); */
}

.mm #backgroundImage3 {
  background-image: url('/static/images/723541_An otherworldly portrait of a muse cloaked in shad_xl-beta-v2-2-2.jpg');
  /* background-image: url('/static/images/395394_An otherworldly portrait of a muse cloaked in shad_xl-beta-v2-2-2.jpg'); */
}

.ll #backgroundImage1 {
  /* background-image: url('/static/images/821194_A poetic moonlit beach with soft waves caressing t_xl-beta-v2-2-2.jpg'); */
  background-image: url('/static/images/809423_A poetic moonlit beach with soft waves caressing t_xl-beta-v2-2-2.jpg');
}

.ll #backgroundImage2 {
  background-image: url('/static/images/90003_A melodic depiction of the moon surrounded by cele_xl-beta-v2-2-2.jpg');
}

.ll #backgroundImage3 {
  background-image: url('/static/images/965886_An enchanting scene of a lunar garden where moonfl_xl-beta-v2-2-2.jpg');
  /* background-image: url('/static/images/480304_An enchanting scene of a lunar garden where moonfl_xl-beta-v2-2-2.jpg'); */
}

@keyframes crossfade {
  0%, 100% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
}

body {
  margin: 20px;
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
}

form input,
form textarea,
form select {
  margin-bottom: 10px;
}

form input,
form textarea,
form select {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Add transparency to the background color */
  border: 1px solid #ccc; /* Add a border to the form elements */
  border-radius: 4px; /* Add rounded corners to the form elements */
  padding: 8px; /* Add padding to the form elements */
  font-family: sans-serif;
  font-size: 10pt;
}

form button[type="submit"] {
  background-color: #007bff; /* Set a background color for the submit button */
  color: white; /* Set the text color for the submit button */
  padding: 10px 20px; /* Add padding to the submit button */
  border: none; /* Remove the border */
  cursor: pointer; /* Change the cursor to indicate interactivity */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

form button[type="submit"]:hover {
  background-color: #0056b3; /* Change the background color on hover */
}

#loadingIndicator {
  display: none;
  width: 40px;
  height: 40px;
  margin: 20px auto;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.poem-container {
  margin: 20px 0;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); /* Add a shadow effect to the container */
  padding: 20px;
  font-size: 18px; /* Increase the font size for the poem text */
  line-height: 1.5; /* Adjust the line height for better readability */
}

.poem-container:empty {
  display: none;
}

.white-translucent {
  color: black;
  background: rgba(255, 255, 255, 0.5);
  padding: 3px;
}

#formContainer {
  margin: 1em 0;
  padding: 0.5em;
  border-radius: 5px;
}

#backgroundStoryContainer {
  margin: 1em 0;
  padding: 0.5em;
  border-radius: 5px;
}

#backgroundStoryContainer .background-story {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 1s ease, opacity 1s ease;
}

#backgroundStoryContainer .background-story.open {
  height: auto;
  opacity: 1;
}

#backgroundStoryContainer:hover {
  background: rgba(255, 255, 255, 0.8);
}
